@import url(https://fonts.googleapis.com/css?family=Roboto:300);


#form1,#form2,#form3{

    float:left;

    margin:50px;
    padding:10px;
    top:20px;
    position:relative;
    top:100px;


}

#titulo1{

    float:left;
    background:#E3D5CD;
    margin:20px;
    padding:10px;
    top:180px;
    position:absolute;
    left:20px;


}

#titulo2{

    float:left;
    left:1000px;

    background:#E3D5CD;
    margin:20px;
    padding:10px;
    top:180px;
    position:absolute;



}
#tituloModificar{

    float:left;
    left:10px;
    margin:60px;
    padding:10px;
    top:50px;
    position:relative;



}


#titulo3{

    float:left;
    background:#E3D5CD;
    margin:20px;
    padding:10px;
    top:200px;
    position:absolute;
    left:20px;


}

#titulo4{

    float:left;
    left:1000px;

    background:#E3D5CD;
    margin:20px;
    padding:10px;
    top:200px;
    position:absolute;



}

#NombreAlumno{

    float:left;
    left:1300px;

    margin:20px;
    padding:10px;
    top:0px;
    position:absolute;
    color: #FF0000



}

#ApellidosAlumno{

    float:left;
    left:1300px;

    margin:20px;
    padding:10px;
    top:20px;
    position:absolute;
    color: #FF0000



}
#CodigoGrado{

    float:left;
    left:1300px;

    margin:20px;
    padding:10px;
    top:40px;
    position:absolute;
    color: #FF0000



}
#NombreGrado{

    float:left;
    left:1300px;

    margin:20px;
    padding:10px;
    top:60px;
    position:absolute;
    color: #FF0000;



}
#Facultad{

    float:left;
    left:1300px;

    margin:20px;
    padding:10px;
    top:80px;
    position:absolute;
    color: #FF0000;




}




#form4 {
    background-color: white;
    float:left;
    border: black 1px solid;
    display:block;
    position:absolute;
    bottom: 10px;
}

#form5 {
    float:left;

    margin:50px;
    padding:10px;
    position:relative;
    top:30px;
    left: 600px;
}

#comentarios {
    float:left;

    margin:15px;
    padding:10px;
    position:relative;
    top:0px;
    left: 150px;

}

#form6 {
    float:left;

    margin:25px;
    padding:10px;
    position:relative;
    top:2px;
    left: 600px;

}
#form7 {
    float:left;

    margin:25px;
    padding:10px;
    position:relative;
    top:170px;
    right:550px;

}
#form8 {
    float:left;

    margin:25px;
    padding:10px;
    position:relative;
    top:170px;
    right:570px;

}

#form9 {
    float:left;

    margin:25px;
    padding:10px;
    position:relative;
    left:600px;


}

#form10 {
    float:left;

    margin:25px;
    padding:10px;
    position:relative;
    left:600px;


}

#butConvalidacion{

    position:absolute;

    display:block;



    left:750px;
    top:580px;

    background:#0CF;

}

#butBuscador{

    position:absolute;

    display:block;



    left:825px;
    top:175px;

    background:#0CF;

}

#butAceptar{
    float:left;

    margin:25px;
    padding:10px;
    position:relative;

    display:block;



    left:568px;
    top:5px;



}

#butModificar{

    float:left;

    margin:25px;
    padding:10px;
    position:relative;
    top:175px;
    right:600px;

}

#butCambiar{

    float:left;

    margin:25px;
    padding:10px;
    position:absolute;
    top:136px;
    left:378px;


}

#butAlta{

    float:left;

    margin:25px;
    padding:10px;
    position:relative;
    top:910px;
    left:370px;

}

#enlaceNuevo{

    position:absolute;

    display:block;




    top:110px;



}

#enlacesAlumno{

    position:absolute;

    display:block;



    left:700px;
    top:110px;



}


#table1 table {
    width: 100%;
    border: black 1px solid;
    position: relative;
    bottom: -70px;

}
#table1 th, td {

    text-align: left;
    vertical-align: top;
    border: 1px solid #000;
    border-collapse: collapse;
    border: hidden;
    background:#EDE6E2;
    padding: 0.3em;
}

#table2 table {
    width: 100%;
    border: black 1px solid;
    position: relative;
    bottom: -70px;


}
#table2 th, td {

    text-align: left;
    vertical-align: top;
    border: 1px solid #000;
    border-collapse: collapse;
    border: hidden;
    background:#EDE6E2;
    padding: 0.3em;
}

#table3 table {
    width: 100%;
    border: black 1px solid;
    position: relative;
    bottom: -70px;

}
#table3 th, td {

    text-align: left;
    vertical-align: top;
    border: 1px solid #000;
    border-collapse: collapse;
    border: hidden;
    padding: 0.3em;
}




body {
    background:#F5F5F5;
    font-family: sans-serif; }

hr { 
    border 1px solid #DDDDDD; 
    margin: 100px 50px; 

}
#header h1 { 
    display:inline; 

}


#header h12 { 
    text-indent:1000px;

}

.div01{
    color: black;
    font-size:30px;
}

.div02{
    position:absolute;

    display:block;

    font-size:70px;

    left:500px;

}
.div03{
    position:absolute;

    display:block;

    font-size:70px;

    left:500px;

}
.div06{
    position:absolute;

    display:block;

    font-size:35px;

    left:500px;

}

.div07{
    position:absolute;

    display:block;

    font-size:35px;

    left:700px;

}